{% load staticfiles %}
<html>
  <head>
    <title>GotRecipes</title>
	<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
  </head>
  <body>
	<div class="page-head">
		{% if user.is_authenticated %}
		<a href="{% url 'recipe_edit' %}"><img id="edit-icon" src="{% static 'images/pencil.jpg' %}" /></a>
		<a href="{% url 'recipe_delete' %}"><img id="delete-icon" src="{% static 'images/delete.png' %}" /></a>
		<p>Hello {{ user.username }}<small>(<a href="{% url 'logout'%}">Log out</a>)</small></p>
		{% else %}
		<a href="{% url 'login' %}"><img id="lock-icon" src="{% static 'images/lock.png' %}" /></a>
		<p><small>(<a href="{% url 'login' %}">Log In</a>)</small></p>
		{% endif %}
		<h1 id="got-title">GotRecipes</h1>
		<span><h3 id="got-sub">Find recipes in a flash</h3></span>
		<span class="home"><h4><a href="{% url 'index' %}">home</a></span>
	</div>
	<div class="content-container"}
	{% block content %}
	{% endblock %}
	</div>
  </body>
</html>
