{% extends 'gotrecipes/base.html' %}

{% block content %}
<div class="user-options">
	<div id="recipe-manage">
		<div class="create-recipe">
			<h3>Options</h3>
			<a href={% url 'new_recipe' %}>Add a Recipe</a>
			<br>
			<a href={% url 'search_recipe' %}>Find a Recipe</a>
		</div>
		<div class="view-recipes">
			<h3>Recipes</h3>
			<ul>
			{% for recipe in recipes %}
				<li><a href="{% url 'recipe_detail' pk=recipe.pk %}">{{ recipe }}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}
